.body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 48px;
  top: 44px;
  padding: 4px, 24px, 4px, 12px;
  margin-left: -13px;
}

.outerlogo {
  align-self: flex-end;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #6070FF;
}

.iconlogo {
  align-self: flex-start;
  width: Hug (40px);
  height: Hug (40px);
  top: 4px;
  left: 311px;
  padding: 8px;
  border-radius: 8px;
  transform: translate(220px, 20px);
}

.image {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
}

.introdiv {
  align-self: center;
  width: 327px;
  height: 150px;
  margin-left: -10px;
}

.introtext {
  background-image: url("header-shapes\ mobile.png");
  align-self: center;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  transform: translate(30px, -520px);
}

.intro2 {
  align-self: center;
  font-family: Poppins;
  transform: translate(30px, -550px);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.connect {
  align-self: center;
  transform: translate(30px, -550px);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: Hug (117px);
  height: Hug (24px);
  gap: 16px;
  color: #7F8CFF;
}

.socialicondiv {
  align-self: flex-starts;
  margin-top: -550px;
  transform: translate(30px, -5px);
}

.container {
  display: grid;
  grid-template-columns: 345px;
  grid-template-rows: 695px 695px 695px 695px;
  gap: 88px;
  top: 718px;
  margin-top: 480px;
}

.work1 {
  grid-row: 1 / 2;
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
}

.work2 {
  grid-row: 2 / 3;
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
}

.work3 {
  grid-row: 3/ 4;
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
}

.work4 {
  grid-row: 4 / 5;
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
}

.cards {
  transform: translate(0px, 90px);
  width: Hug (327px);
  height: 552px;
  padding: 16px;
  border-radius: 16px;
  border: 1px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
  border: 1px solid #DFE1E6
}

.cardimage {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  transform: translate(-8px, -5px);
}

.cardtitle {
  width: 295px;
  height: 36px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
  transform: translate(0px, -20px);
}

.frame {
  transform: translate(0px, -35px);
}

.carddetail {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
  transform: translate(0px, -45px);
}

.tags {
  width: Hug (214px);
  height: Hug (24px);
  gap: 8px;
  transform: translate(0px, -37px);
}

.action {
  width: 295px;
  height: 72px;
  padding: 12px, 169px, 12px, 0px;
  transform: translate(0px, -5px);
}