.body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 48px;
  top: 44px;
  padding: 4px, 24px, 4px, 12px;
  margin-left: -13px;
}

.outerlogo {
  align-self: flex-end;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #6070FF;
}

.logofordesk {
  display: none;
}

.iconlogo {
  align-self: flex-start;
  width: Hug (40px);
  height: Hug (40px);
  top: 4px;
  left: 311px;
  padding: 8px;
  border-radius: 8px;
  transform: translate(220px, 20px);
}

.image {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
}

.headlinefordesk {
  display: none;
}

.introdiv {
  align-self: center;
  width: 327px;
  height: 150px;
  margin-left: -10px;
}

.introtext {
  background-image: url("header-shapes\ mobile.png");
  align-self: center;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  transform: translate(30px, -520px);
}

.intro2 {
  align-self: center;
  font-family: Poppins;
  transform: translate(30px, -550px);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.connect {
  align-self: center;
  transform: translate(30px, -550px);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: Hug (117px);
  height: Hug (24px);
  gap: 16px;
  color: #7F8CFF;
}

.socialicondiv {
  align-self: flex-starts;
  margin-top: -550px;
  transform: translate(30px, -5px);
}

.containerfordesk {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 345px;
  grid-template-rows: 695px 695px 695px 695px;
  gap: 88px;
  top: 718px;
  margin-top: 480px;
}

.work1 {
  grid-row: 1 / 2;
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
}

.work2 {
  grid-row: 2 / 3;
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
}

.work3 {
  grid-row: 3/ 4;
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
}

.work4 {
  grid-row: 4 / 5;
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
}

.cards {
  transform: translate(0px, 90px);
  width: Hug (327px);
  height: 552px;
  padding: 16px;
  border-radius: 16px;
  border: 1px;
  gap: 12px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #DFE1E6, #DFE1E6);
  border: 1px solid #DFE1E6
}

.cardimage {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  transform: translate(-8px, -5px);
}

.cardtitle {
  width: 295px;
  height: 36px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
  transform: translate(0px, -20px);
}

.frame {
  transform: translate(0px, -35px);
}

.carddetail {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
  transform: translate(0px, -45px);
}

.tags {
  width: Hug (214px);
  height: Hug (24px);
  gap: 8px;
  transform: translate(0px, -37px);
}

.action {
  width: 295px;
  height: 72px;
  padding: 12px, 169px, 12px, 0px;
  transform: translate(0px, -5px);
}

.about {
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 530px 370px;
  top: 3506px;
  padding: 11px 24px 114px 24px;
  gap: 24px;
}

.grid1 {
  grid-row: 1 / 2;
  width: 310px;
  height: 346px;
  gap: 12px;
  margin-top: 95px;
}

.myself {
  width: 327px;
  height: 35px;
  transform: translate(0px, -35px);
  margin-bottom: -10px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
}

.myselfbody {
  width: 327px;
  height: 147px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.myselfconnect {
  width: 117px;
  height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #7F8CFF;
}

.myselflogo {
  width: Hug (200px);
  height: Hug (40px);
}

.myselfresume {
  width: 132px;
  height: 18px;
  padding: 12px;
  border-radius: 8px;
  border: 1px;
  gap: 10px;
  border: 1px solid #6070FF;
}

.resumue {
  width: 138px;
  height: 24px;
  transform: translate(0px, -22px);
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.grid2fordesk {
  display: none;
}

.grid2 {
  width: 300px;
  height: 464.15px;
  margin-top: -85px;
}

.frame7 {
  width: 327px;
  height: 72px;
  padding: 16px, 26px, 16px, 12px;
}

.fram9 {
  width: 303px;
  height: 66.72px;
  padding: 9px, 12px, 9.72px, 12px;
  border-radius: 8px;
  background: #F7F7F9;
}

.fram8 {
  width: 327px;
  height: 72px;
}

.lastsection {
  display: flex;
  flex-direction: column;
}

.contactme {
  width: 375px;
  height: 779px;
  top: 5410px;
  margin-left: -8px;
}

.contact {
  transform: translate(20px, -720px);
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.contactdetail {
  width: 327px;
  height: 137px;
  top: 4802px;
  left: 24px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #EBEBFF;
  margin-top: -715px;
  transform: translate(15px, -20px);
}

.name {
  width: 327px;
  height: 48px;
  border-radius: 5px;
  background: linear-gradient(0deg, #CFD8DC, #CFD8DC),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid #CFD8DC;
  margin-left: 15px;
  align-self: flex-start;
}

.email {
  width: 327px;
  height: 48px;
  border-radius: 5px;
  background: linear-gradient(0deg, #CFD8DC, #CFD8DC),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid #CFD8DC;
  margin-top: 10px;
  margin-left: 15px;
}

.detail {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  background: linear-gradient(0deg, #CFD8DC, #CFD8DC),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid #CFD8DC;
  margin-top: 10px;
  margin-left: 15px;
}

.button {
  width: 110px;
  height: 30px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070FF;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 376px){
.body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 72px;
  padding: 16px, 143px, 16px, 143px;
  margin-left: -70px;
}

.outerlogo {
  align-self: flex-start;
  width: 100px;
  height: 40px;
  top: 16px;
  left: 143px;
  padding: 10px, 12px, 10px, 12px;
  transform: translate(150px, 30px);
}
.logoformob {
  display: none;
}

.iconlogo {
  background-image: url("Item\ Navigation.png");
  transform: translate(940px, 10px);
  align-self: center;
  width: 258px;
  height: 40px;
  top: 16px;
  left: 1039px;
  gap: 8px;
}

.headline {
  display: none;
}

.headlinefordesk {
  display: block;
}

.logofordesk1 {
  width: 1440px;
  height: 846px;
}

.introdivfordesk {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 846px;
  top: 71px;
  padding: 289px, 260px, 289px, 260px;
}

.introtextfordesk {
  align-items: flex-start;
  width: 920px;
  height: 122px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  transform: translate(350px, -600px);
  color: #091E42;
}

.intro2fordesk {
  align-items: flex-start;
  width: 920px;
  height: 98px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
  transform: translate(350px, -650px);
}

.connectfordesk {
  width: 117px;
  height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #7F8CFF;
  transform: translate(350px, -660px);
}

.socialicondivfordesk {
  width: 170.17px;
  height: 20px;
  left: 260px;
  transform: translate(350px, -660px);
}

.container {
  display: none;
}

.containerfordesk {
  display: grid;
  grid-template-columns: 1440px;
  grid-template-rows: 670px 670px 670px 670px;
  margin-right: -1020px;
}

.card1 {
  grid-row: 1 / 2;
  width: 1156px;
  height: 496px;
  transform: translate(100px, 150px);
}

.card2 {
  grid-row: 2 / 3;
  width: 1156px;
  height: 496px;
  transform: translate(100px, 150px);
}

.card3 {
  grid-row: 3 / 4;
  width: 1256px;
  height: 596px;
  transform: translate(50px, 150px);
}

.card4 {
  grid-row: 4 / 5;
  width: 1156px;
  height: 496px;
  transform: translate(100px, 150px);
}

.myself {
  width: 447px;
  height: 33px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #091E42;
  transform: translate(70px, 0px);
}

.myselfbody {
  width: 447px;
  height: 102px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
  transform: translate(65px, 20px);
}

.myselfconnect {
  width: 117px;
  height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #7F8CFF;
  transform: translate(65px, 10px);
}

.myselflogo {
  width: Hug (200px);
  height: Hug (40px);
  transform: translate(50px, 10px);
}

.myselfresume {
  width: Hug (162px);
  height: Hug (48px);
  padding: 12px;
  border-radius: 8px;
  gap: 10px;
  color: #6070FF;
  border: 1px solid #6070FF;
  transform: translate(50px, 10px);
}

.grid2 {
  display: none;
}

.grid2fordesk {
  display: grid;
}

.lang {
  transform: translate(570px, -450px);
}
}